<div class="card-content mt-2" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{posicion}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p class="text-wrap overflow-hidden">{{destino.descripcion}}</p>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let servicio of destino.servicios">
                <span [ngSwitch]="servicio">
                    <i *ngSwitchCase="'Desayuno'" style="color: red;">{{servicio}}</i>
                    <i *ngSwitchDefault=""> {{servicio}}</i>                   
                </span>
            </li>
        </ul>
        <div class="mt-3 mb-3">
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a> {{destino.votes}}
        </div>
        <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable>
                {{- FAVORITO -}}
            </span>
        </span>
        <a class="d-block mt-4" [routerLink]="['/destino']">Ver detalle</a>
    </div>
</div>