<!--The content below is only a placeholder and can be replaced.-->
<div style="float: right;">
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
</div>
<div class="container-fluid content">

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/home']">Angular Whishlist</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/destino']" [routerLinkActive]="'active'">Destino</a>
                </li>
            </ul>
        </div>
    </nav>

    <p class="h1 text-center mb-5 mt-3">
        {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </p>

    <router-outlet></router-outlet>
    <!--<input name="titulo" type="text" #titulo>
    <input name="titulo" type="submit" (click)='agregar(titulo)'>-->
</div>
<hr class="mb-5">
<p> <span>Fecha: {{ time | async }}</span></p>