<!--<ul>
    <li *ngFor='let destino of destinos'>
        <app-destino-viaje [nombre]='destino'></app-destino-viaje>
    </li>
</ul>-->

<div class="container content mb-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (itemAdded)="agregado($event)"></app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-1">
    <div class="row">
        <app-destino-viaje *ngFor="let destino of all; let i = index" [destino]="destino" [idx]="i + 1" (clicked)="seleccionado(destino)" appEspiame>

        </app-destino-viaje>
    </div>
    <hr class="mb-5">
    <div class="row">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let update of updates">{{ update }}</li>
        </ul>
    </div>
</div>